attr==0.3.2
aws-cdk-lib==2.50.0
aws-lambda-context==1.1.0
aws-lambda-powertools==2.1.0
awscli-local==0.20
awscli==1.27.7
boto3==1.26.7
cdk-monitoring-constructs==1.22.4
cdk-nag==2.22.1
constructs~=10.0.5,<11.0.0
coverage-lcov==0.2.4
dataclasses-json==0.5.7
detect-secrets==1.4.0
docker==5.0.3
Faker==15.3.2
invoke==1.7.1
isort==5.10.1
localstack==1.4.0
marshmallow-jsonschema==0.13.0
marshmallow_dataclass==8.5.11
mkdocs-material==8.4.4
mock==4.0.3
moto==4.0.8
opentelemetry-distro[otlp]>=0.24b0
opentelemetry-exporter-jaeger==1.13.0
opentelemetry-instrumentation-botocore
opentelemetry-propagator-aws-xray==1.0
opentelemetry-sdk-extension-aws==2.0
pandas==1.5.1
pre-commit==2.20.0
pylint==2.15.2
pyspark==3.3.0
pytest-black==0.3.9
pytest-cov==4.0.0
pytest-func-cov==0.2.3
pytest-json-report==1.5.0
pytest-pylint==0.19.0
pytest-spark==0.6.0
pytest-sugar==0.9.5
pytest-timeout==2.1.0
pytest==7.2.0
pyyaml==5.4.1
py==1.11.0
radon==5.1.0
requests==2.25.1
smart-open==6.2.0
snowflake-connector-python==2.8.0
strongtyping==3.10.7
xmltodict==0.13.0
