body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.cars-red {
    background-color: #E9302A !important;
}

html {
    scroll-behavior: smooth !important;
}